*{margin:0;padding:0}
body,div,span,p,a,img,ul,ol,li,table,th,tr,td,form,fieldset,legend,dl,dt,dd,blockquote,applet,object{border:0}
ul,ol{list-style-type:none}
hr{display:none}
small{font-size:.9em}
.clear{clear:both;display:block;height:0;line-height:0;font-size:0;width:100%}
.noScreen{display:none!important}
.hidden{display:none}
.floatLeft{float:left!important}
.floatRight{float:right!important}
.bold{font-weight:700!important}
.small{font-size:.9em!important}
.large{font-size:1.1em!important}
.italic{font-style:italic!important}
.block{display:block!important}
.inlineBlock{display:inline-block!important}
.inline{display:inline!important}
.alignRight{text-align:right!important}
.alignCenter{text-align:center!important}
.alignJustify{text-align:justify!important}
.verticalTop{vertical-align:top!important}
.verticalBtm{vertical-align:bottom!important}
.relative{position:relative!important}
.absolute{position:absolute!important}
.left{left:0!important}
.bottom{bottom:0!important}
.noBorder{border:0!important}
img.floatLeft{margin-right:15px!important;margin-bottom:10px}
img.floatRight{margin-left:15px!important;margin-bottom:10px}
.clearFix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearFix{display:inline-block}
* html .clearFix{height:1%}
.clearFix{display:block}
address,article,aside,figcaption,figure,footer,header,hgroup,nav,section{display:block;margin:0;padding:0}
html{background:#f2f2f2}
body{color:#727272;font:normal 13px "Helvetice Neue",Arial,Tahoma,Verdana}
p{line-height:1.5em;margin-bottom:15px}
p strong{color:#424242}
a{outline:0}
a:hover{text-decoration:none}
a,a:link,a:focus{color:#0a0c0d}
h1,h2,h3,h4{line-height:1.2em;margin-bottom:15px;font-weight:700}
h1{font-size:3em;color:#fff;font-weight:400}
h1 strong{font-weight:700}
h2{font-size:1.1em;color:#737373;margin-bottom:30px;border-bottom:1px solid #e5e5e5;padding-bottom:10px}
h3,h4{font-size:1.4em;color:#424242;text-shadow:1px 1px 1px #fff;margin-bottom:10px}
header{height:65px;line-height:65px;background:#1a1a1a;position:relative;z-index:100}
header a#logo{display:block;position:absolute;top:0;left:20px;color:#fff;font-size:1.5em;font-weight:700;letter-spacing:2px;font-family:Verdana,Arial,sans-serif;text-transform:uppercase;text-decoration:none}
header a#logo:hover{font-family:Verdana,Arial,sans-serif;text-decoration:none;color:#f7f7f7}
#intro{border-bottom:1px solid #fff;background-color:#0a0809;border-top:1px solid #000}
#intro .inner{padding:55px 0;background:url(img/clock/intro-middle.png) no-repeat 0 0}
#intro p{color:#fff;margin-bottom:20px;padding-right:20%}
.button{display:inline-block;position:relative;margin-top:30px;padding:15px 40px;border-top:1px solid #ffe702;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;font-weight:700;font-size:13px;font-family:Verdana,Arial,sans-serif;color:#fff;text-decoration:none;text-transform:uppercase;text-shadow:-1px -1px 0 #ff6d00;box-shadow:0 2px 2px #f2f2f2;background-color:#ff9a01;background:-moz-linear-gradient(top,#ffc101 0%,#ff9a01);background:-webkit-gradient(linear,left top,left bottom,from(#ffc101),to(#ff9a01));cursor:pointer}
.button:hover{background:-moz-linear-gradient(top,#ff9a01 0%,#ffc101);background:-webkit-gradient(linear,left top,left bottom,from(#ff9a01),to(#ffc101))}
#slogan{font-size:16px}
#content{padding:40px 0 50px;text-shadow:1px 1px 1px #fff}
.cols{margin-bottom:30px}
.cols li{max-width:32%;float:left;background:url(img/cite.png) no-repeat}
.cols li p{padding-left:45px}
.cols li.middle{margin:0 2%}
form{margin:0;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px}
form fieldset{padding:0}
#twitter{background:#fff;border-top:1px solid #e5e5e5}
#twitter .wrap{padding-top:20px;padding-bottom:5px;position:relative}
#twitter p{padding-left:80px}
#twitter .icon{display:block;position:absolute;top:-20px;left:20px;width:56px;height:61px;background:url(img/twitter.png) no-repeat}
footer{padding:30px 0;background:#1a1a1a;font-size:.85em;color:#777}
footer p{line-height:1.9em}
footer a,footer a:link,footer a:focus{color:#999;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;-ms-transition:all .3s ease-in-out;transition:all .3s ease-in-out}
footer a:hover{color:#fff}
footer .socialIcons{padding-top:7px}
footer .socialIcons a{display:inline-block;width:29px;height:29px;margin:0 10px 0 0;text-indent:-9999px}
footer .socialIcons a:last-child{margin-right:0}
footer .socialIcons a.rss{background:url(img/small-rss.png) no-repeat}
footer .socialIcons a.facebook{background:url(img/small-facebook.png) no-repeat}
footer .socialIcons a.twitter{background:url(img/small-twitter.png) no-repeat}
.wrap{margin:0 auto;position:relative;max-width:980px;padding:0 20px}
.col{width:48%;position:relative;margin-bottom:20px}
.col h3,.col p{padding-left:60px}
.col .icon{position:absolute;top:0;left:0;padding:0}
.ui-dialog{height:auto;display:block;border:0}
.dialog{max-width:450px;min-width:250px;margin:0 auto;left:0!important;right:0!important}
.dialog .button{font-family:Verdana,Arial,sans-serif;font-size:13px;margin:0}
.ui-dialog.dialog .ui-dialog-titlebar{padding:0;display:none}
.ui-dialog.dialog .ui-widget-content a.forgot{color:#ebebeb;margin-left:35px}
#login-box{padding:58px 76px 30px;color:#ebebeb;font:15px Calibri,Arial;background:url(img/login.png) no-repeat left top}
#login-box h2{padding:0;margin:0;color:#ebebeb;font:bold 44px Calibri,Arial}
#login-box .fieldgroup{position:relative;height:50px}
#login-box .fieldgroup label{font-size:17px;color:#ebebeb;float:left;text-align:right;width:90px;margin-top:10px}
#login-box .fieldgroup input,#login-box .fieldgroup textarea,#login-box .fieldgroup select{float:right;height:25px;width:65%;font-size:15px;padding-top:0;padding-bottom:0;padding-left:2px;margin-top:7px}
#login-box .fieldgroup input[type="checkbox"]{width:15px;float:left;margin-top:0}
#login-box .fieldgroup label.error{font-size:13px;color:#ff9a01;margin:0;padding:0;text-align:right;width:50%;position:absolute;right:0;bottom:0;line-height:100%}
.options{margin-left:110px}
.shp{font-size:12px;margin-left:10px}
.loginButton{float:right;box-shadow:none;padding-left:140px;padding-right:140px;margin-top:-15px}
.closeButton{background:url(images/button_cancel.png) no-repeat;width:20px;height:20px;margin-top:5px;margin-right:5px;border:0 solid #fff;top:0;right:0;position:absolute;cursor:pointer;z-index:999}
#serverError{color:#ff9a01;text-align:center}

@media (max-width: 700px) {
    .col{width:100%}
    .cols li{max-width:100%}
}
@media (max-width: 500px) {
    .col{width:100%}
    .cols li{max-width:100%}
    #login-box h2{font:bold 36px Calibri,Arial}
    h3,h4{font-size:1.2em}
    .icon{width:20px;height:20px}
    #login-box .fieldgroup label.error{font-size:11px}
    #login-box .fieldgroup label{font-size:15px}
    #login-box{padding:40px 30px;font:13px Calibri,Arial}
    #login-box .fieldgroup input,#login-box .fieldgroup textarea,#login-box .fieldgroup select{width:45%;font-size:12px;float:left;margin-left:10px}
    .loginButton{padding-left:40%;padding-right:40%}
    #login-box .fieldgroup label.error{width:100%}
}